<div id="home" class="big-bg">
   <header class="page-header wrapper">
   <h1>
      <%= link_to image_tag("logo.png", class: :logo), root_path %>
   </h1> 
   <nav>
      <ul class="main-nav">
         <li><a href="#">ABOUT</a></li>
         <li><a href="#">SERVICE</a></li>
         <li><a href="#">CONTACT</a></li>
      </ul>  
   </nav>
   </header>
   <div class="home-content wrapper"> 
    <h2 class="page-title">EVERYTHING INCLUDING MYSELF IS CONSTANTLY CHANGING</h2>
      <p>
      <% unless user_signed_in? %>
      <%= link_to "Log in", new_user_session_path, class: :button %>
      <%= link_to "Sign up", new_user_registration_path, class: :button %>
      <% else %>
      <%= link_to "MEMO", memos_path, class: :button %>
      <%= link_to "Log out", destroy_user_session_path, class: :button, method: :delete %>
      <% end %>
      </p>
   </div>
</div>