<div id="memo" class="big-bg">
</div>

<%= form_with model: @memo, local: true do |f|%>
  <div class="field">
    <%= f.label :heartstring %><br />
    <%= f.text_area :heartstring, class: :form__text, id:"memo_heartstring" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: :form__text, id:"memo_name" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :nav__btn  %>
  </div>
<% end %>